<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container-fluid">
  <!--<h1>Firmengeschichte</h1>-->
  <div class="row milestone-container">
    <div class="col-lg-6 col-md-12 milestone-container-image milestone-container-image-founded">
      <h3>Gründung am 01.01.1994</h3>
      <p> als kleiner Nebenerwerbsbetrieb mit Firmensitz in Rettersburg haben wir
        sowohl räumlich als auch in der Mitarbeiterzahl kontinuierlich expandiert.</p>
    </div>
    <div class="col-lg-6 col-md-12 milestone-container-image milestone-container-image-march-1995">
      <h3>März 1995</h3>
      <p>Harald Bauer leitet den Betrieb in Vollzeit mit Unterstützung der Familie und qualifizierten Aushilfen.</p>
    </div>
    <div class="col-lg-6 col-md-12 milestone-container-image milestone-container-image-february-1996">
      <h3>Februar 1996</h3>
      <p>Einstellung des ersten festen Mitarbeiters und Erwerb des Bauplatzes unseres heutigen Firmensitz in Berglen, Boschstraße 5. Seit diesem Jahr sind wir auch Ausbildungsbetrieb.</p>
    </div>
    <div class="col-lg-6 col-md-12 milestone-container-image milestone-container-image-january-1997">
      <h3>Januar 1997</h3>
      <p>Fertigstellung unseres Neubaus und Produktionsstart in den neuen Räumen.</p>
    </div>
    <div class="col-lg-6 col-md-12 milestone-container-image milestone-container-image-july-1997">
      <h3>Juli 1997</h3>
      <p>Umzug ins fertiggestellte Büro in der Boschstraße 5 in Berglen.</p>
    </div>
    <div class="col-lg-6 col-md-12 milestone-container-image milestone-container-image-today">
      <h3>Derzeit</h3>
      <p>arbeiten wir mit drei festangestellten Mitarbeitern, Harald Bauer und seiner Ehefrau. Bei Bedarf können wir auf qualifizierte und bewährte Aushilfen zurückgreifen.</p>
    </div>
  </div>
</div>
