.headline-container {
  p {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
}

.text-container {
  margin-top: 100px;

  &-image {
    align-items: center;
    background-image: url("../../assets/about-us/text-picture.png");
    display: flex;
    height: auto;
    justify-content: center;
    min-height: 300px;
    width: 100%;
  }

  div {
    span {
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      font-size: 30px;

      b {
        font-weight: 600;
      }
    }
  }

  &-text--margin {
    margin-top: 100px;

    @media (max-width: 992px) {
      margin-top: 0;
    }
  }
}

.strength-headline {
  margin-top: 100px;

  h2 {
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
  }
}

.strength-container {
  background: rgba(0, 0, 0, .2);
  margin: 40px auto 100px auto;

  &-icon {
    color: gray;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
