<app-navbar></app-navbar>
<div class="container">
  <div class="headline-container">
    <h1>Als mittelständischer Zimmereibetrieb in Berglen</h1>
    <p>sind wir für Sie als Kunde immer bemüht unsere Arbeitstechniken zu optimieren
      und unsere Maschinen auf dem aktuellsten, technischen Stand zu halten.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-container">
    <div class="col-lg-6 col-md-12 text-container-image">
      <button class="image-button" [routerLink]="['/contact']">Fragen Sie uns</button>
    </div>
    <div class="col-lg-6 col-md-12">
      <span>"Hand in Hand mit dem Kunde"</span>
      <p>Bedeutet für uns:<br>
        Sie neben unserem traditionellen Zimmerei-Leistungsspektrum in Ihren Vorhaben in Sachen Holz durch fachmännische <b>"Anleitung zum Selberbauen"</b> zu unterstützen.</p>
      <p class="text-container-text--margin">Seit 1996 sind wir auch anerkannter <b>Ausbildungsbetrieb</b> und haben bereits 4 Lehrlinge erfolgreich ausgebildet.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 strength-headline">
      <h2>Unsere Stärken</h2>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-12 mat-elevation-z10 strength-container">
      <div class="strength-container-icon">
        <i class="fa fa-eur"></i>
      </div>
      <h3>Investitionen in technische Neuerungen</h3>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-12 mat-elevation-z10 strength-container">
      <div class="strength-container-icon">
        <i class="fa fa-book"></i>
      </div>
      <h3>Fortbildung in neue Arbeits- und Verarbeitungstechniken</h3>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-12 mat-elevation-z10 strength-container">
      <div class="strength-container-icon">
        <i class="fa fa-cogs"></i>
      </div>
      <h3>Ständige Verbesserung unserer Arbeitsabläufe</h3>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
